.image {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .image {
    height: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .image {
    height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .image {
    height: 350px;
    width: 100%;
  }
}
